body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;

}
#principal {
    background-image: url(../images/wallpaper-agencia.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}


#encabezado {
    background-color: #240c5c63;
    padding: 20px;
}

#titulo {
    font-size: 40px;
    color: #1c0a5e;
    text-shadow: 1px 15px 5px rgba(255, 255, 255, 0.1);
    display: grid;
    justify-content: left;
    padding-left: 5.5rem;
}
#logo {
    width: 500px;
    height: auto;
    position: absolute;
    display: grid;
    left: 55%;
    top: 50px;
}
ul {  
  display: flex;
  gap: 5rem; 
  padding: 6px 0;
  list-style: none; 
  margin: 0;
}
.nav-tx:first-child{
    margin-left: 50px;
}
.navegacion {
    background-color: #1d0c5c63;
    width: 680px;
    padding: 5px;
    border-radius: 0 0 30px 0;
}
.nav-tx {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: #201c57 1px 5px 9px;
    padding: 10px 20px;
}
.nav-tx:hover {
    text-shadow: rgb(255, 255, 255) 1px 12px 55px;
    border-bottom: 2px solid rgba(183, 171, 252, 2);
    
}
#ofertas-especiales-titulo {
    padding: 10px 50px 15px 50px;
    margin: 20px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.card {
  box-shadow: 1px 10px 50px rgb(93, 106, 209);
  background-color: #1d0c5c63;
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  transition: transform 0.3s;
}
.ofertas-especiales-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card:hover {
    transform: scale(1.05);
    h2 {
        color: #937ce7;
        text-shadow: 1px 8px 2px #1c0a5e;
    }
}
b,a {
    text-decoration: none;
    color: #a7b3f8;
    text-shadow: 1px 15px 5px rgba(255, 255, 255, 0.1);
}

a:hover {
    color: #6244e7;
}

h2 {
    color: #1c0a5e;
    text-shadow: 1px 8px 2px rgba(102, 102, 143, 0.521);
}
h3 {
    color: #937ce7;
    text-shadow: 1px 8px 2px rgba(102, 102, 143, 0.521);
}


footer {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

button {
    padding: 0.75rem;
    background-color: #6244e7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 50px;
    padding: 10px 40px;
}

button:hover {
    background-color: #3718be;
}


table {
    width: 100%;
    background-color: #3b2f8641;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
#tabla-comparativa{
    padding: 5px 50px;
    margin: 20px;
}
table th, table td {
    padding: 10px;
    text-align: center;
    color: #fff;
}

table th {
    background-color: #3b2f8641;
    border-bottom: 1px solid #8a74ec;
}
