
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    
}
#principal {
    background-image: url(../images/wallpaper-agencia.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    margin: 0;
    box-shadow: 0 20px 30px -10px rgb(0, 0, 0);
    background-attachment: fixed
}

#encabezado {
    background-color: #240c5c63;
    padding: 20px;
}

#titulo {
    font-size: 40px;
    color: #1c0a5e;
    text-shadow: 1px 15px 5px rgba(255, 255, 255, 0.1);
    display: grid;
    justify-content: left;
    padding-left: 5.5rem;
}
#audio-bienvenida {
  border-radius: 8px;
  padding: 10px;
}

#logo {
    width: 500px;
    height: auto;
    position: absolute;
    display: grid;
    left: 55%;
    top: 50px;
}
ul {  
  display: flex;
  gap: 5rem; 
  padding: 6px 0;
  list-style: none; 
  margin: 0;
}
.nav-tx:first-child{
    margin-left: 50px;
}
.navegacion {
    background-color: #1d0c5c63;
    width: 680px;
    padding: 5px;
    border-radius: 0 0 30px 0;
}
.nav-tx {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: #201c57 1px 5px 9px;
    padding: 10px 20px;
}
.nav-tx:hover {
    text-shadow: rgb(255, 255, 255) 1px 12px 55px;
    border-bottom: 2px solid rgba(183, 171, 252, 2);
}
#informacion {
    padding: 5px;
    margin: 100px 0 120px 0;
    text-align: center;
}
#informacion h2 {
    font-size: 24px;
}
#informacion p {
    font-size: 16px;
}
.card {
  box-shadow: 1px 1px 10px rgb(93, 106, 209);
  background-color: #1d0c5c63;
  border-radius: 12px;
  padding: 20px;
  margin: 15px;
  width: 250px;
  transition: transform 0.3s;
}
b,a {
    text-decoration: none;
    color: #a7b3f8;
    text-shadow: 1px 15px 5px rgba(255, 255, 255, 0.1);
}
.card:hover {
    transform: scale(1.05);
    h2 {
        color: #937ce7;
        text-shadow: 1px 8px 2px #1c0a5e;
    }
}
#tipos-de-viaje {
     box-shadow: 1px 1px 10px rgb(93, 106, 209);
    background-color: #1d0c5c63;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    width: 600px;
    z-index: 999;
}
#ofertas {
    z-index: 1;
    display: flex;
    gap: 20px;
    padding-left: 40rem;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    transform: translateY(-50%);
}
#peru,#miami {
    height: 400px;
    margin-top: 0;
}

.img-oferta {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#video {
    text-align: center;
     box-shadow: 1px 1px 10px rgb(93, 106, 209);
    background-color: #1d0c5c63;
    border-radius: 20px;
    margin-left: 1rem;
    width: 600px;
    height: 500px;
}
#video h2{
    padding-top: 20px;
}
#video video {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
h2 {
    color: #1c0a5e;
    text-shadow: 1px 5px 1px rgba(102, 102, 143, 0.521);
}
h3 {
    color: #937ce7;
    text-shadow: 1px 8px 2px rgba(102, 102, 143, 0.521);
}
.asidebar p{
    color: #ded4ff;
    text-shadow: 1px 8px 2px rgba(102, 102, 143, 0.521);
}   
#ubicacion {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
#ubicacion h2 {
    padding-top: 20px;
    color: #937ce7;
    text-shadow: 1px 8px 2px rgba(102, 102, 143, 0.521);
    font-size: 2rem;
}
.asidebar {
    position: absolute;
    display: grid;
    box-shadow: 1px 1px 10px rgb(93, 106, 209);
    background-color: #1d0c5c63;
    border-radius: 20px;
    width: 600px;
    height: auto;
    text-align: center;
    justify-items: center;
    transform: translateX(110%) translateY(-100%);
    padding-bottom: 5px;
}
.asidebar a:hover {
    color: #6244e7;
}
footer {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}